@font-face{
    font-family: 'right';
    src: url('../assets/fonts/Righteous-Regular.ttf');
}

@font-face{
    font-family: 'lobster';
    src: url('../assets/fonts/Lobster.ttf');
}

@font-face{
    font-family: 'roboto';
    src: url('../assets/fonts/RobotoMono-Regular.ttf');
}


@media(min-width:900px){


    /*--------------SECTION 1: CARDAPIO-----------*/
    
    nav{
        position: fixed;
        width: 100%;
        height: 80px;
        background-color: #D82828;
        z-index: 1;
    }
    
    header{
        text-align: center;
    }


    nav img{
        display: flex;
        position: relative;
        left: 60px;
        width: 120px;
        height: 120px;
    }

    .header-title{
        height: 200px;
        width: 1200px;
        margin: 0 auto;
    }

    header h1{
        text-shadow: black 3em;
        font-size: 9em;
        font-family: 'right';
        margin-top: 140px;
        margin-bottom: 20px;
        color: #FFF;
        display: inline-block;
    }

    header h2{
        margin-top: 30px;
        color: #FFF;
        font-size: 2em;
        font-family: 'roboto';
        display: block;
    }

    .header-background{
        height: 640px;
        background-image: url("../assets/img/header_background.png");
        background-repeat: no-repeat;
    }

    .line{
        display:block;
        width: 50%;
        height: 4px;
        background-color: white;
        border: solid 1px white;
    }

    

    nav ul li, nav ul{
        position: relative;
        bottom: 50px;
        right: 70px;
        display: inline-block;
        float: right;
        margin: 5px;
    }

    nav a{
        text-decoration: none;
        font-family: 'right';
        color: white;
        font-size: 20px;
    }

    nav button{
        position: relative;
        left: 490px;
        bottom: 15px;
        width: 90px;
        height: 55px;
        border: #E7EA59 solid 1px;
        border-radius: 30px;
        background-color: #E7EA59;
        color: #D82828;
        font-family: 'right';
        font-size: 18px;
    }

    .arrow{
        margin: 0 auto;
        margin-top: 300px;
        transform: rotate(315deg);
        width: 80px;
        height: 80px;
        border-left: 5px solid white;
        border-bottom: 5px solid white;
        transition: 1s;

    }

    .arrow:hover{
        margin: 0 auto;
        margin-top: 340px;
        transform: rotate(315deg);
        width: 80px;
        height: 80px;
        border-left: 5px solid white;
        border-bottom: 5px solid white;
        transition: 0.5s;
    }

    /*--------------SECTION 2: CARDAPIO-----------*/

    .section2{
        width: 100%;
        height: 700px;
        background-color: #FEF;
        text-align: center;
    }

    .section2 h2{
        font-family: 'lobster';
        color: #9A1717;
        font-size: 4em;
        display: inline-block;
        margin: 10px;

    }

    .circle{
        position: relative;
        bottom: 4px;
        display: inline-block;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background-color: #9A1717;
    }


    .mid-circle{
        position: relative;
        bottom: 9px;
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        background-color: #9A1717;
    }


    .little-circle{
        position: relative;
        bottom: 10px;
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 100%;
        background-color: #9A1717;
    }


}